@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    background-color: #11071F;
    font-family: calc(--primary-font);
    overflow: hidden;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

:root {
    /* Colors */
    --primary-color: #1A0B2E;
    --white-color: #ffffff;
    --text-color: #C5C5C5;

    /* Fonts Family */
    --primary-font: "Poppins", sans-serif;

    /* Font Weights */
    --bold: 700;
    --extarbold: 800;
    --regular: 400;
    --medium: 500;
    --semibold: 600;

    /* Others */
    --transition: .3s ease-in-out;

    /* Box Shadow */
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--white-color);
    font-family: var(--primary-font);
    text-transform: capitalize;
    line-height: 120%;
}

h1 {  
    font-size: 60px;
    font-weight: var(--bold);
    color: var(--white-color);
}

h2 {  
    font-size: 40px;
    font-weight: var(--semibold);
    color: var(--white-color);
    text-transform: uppercase;
}

h3 {  
    font-size: 22px;
    font-weight: var(--bold);
}

p {
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    padding: 0;
}




/* ---------- Header Area Start ------------- */

.nav-area{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    transition: top 0.3s;
    z-index: 10;
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);   
}

.nav-area.sticky{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 60px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    display: inline-flex;
    align-items: center;
    color: var(--white-color);
    font-size: 27px;
    font-weight: var(--bold);
    text-decoration: none;
    text-transform: capitalize;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 70px;
}

.nav-menu li a{
    display: inline-flex;
    color: var(--white-color);
    font-size: 15px;   
    font-weight: var(--semibold);
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--transition);
}

.nav-menu li a:hover{
    transform: scale(1.1);
}

.nav_trigger{
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    
}

.nav_trigger span{
    width: 30px;
    height: 2px;
    background-color: var(--white-color);
    border-radius: 4px;
}

.nav_trigger span:nth-child(2){
    width: 22px;
}

/* ---------- Header Area End ------------- */







/* ---------- Sidebar Area Start ------------- */

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: 0;
    visibility: hidden;
    z-index: 99;
    transition: var(--transition);
}

.overlay.slide_sidebar{
    opacity: 1;
    visibility: visible;
}

.sidebar{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    background-color: var(--primary-color);
    z-index: 1000;
    margin: auto;
    border-radius: 12px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.sidebar.slide_sidebar{
    opacity: 1;
    visibility: visible;
}

.sidebar .nav-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav_dismess {
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 20px;
    color: var(--white-color);
}

/* ---------- Sidebar Area End ------------- */








/* ---------- Hero Area Start ------------- */

.hero-area{
    position: relative;
    padding: 195px 0 100px;
    z-index: 2;
    overflow: hidden;
}

.hero-area::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 150%;
    height: 40%;
    background-image: url(../image/area-gradient.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero-area__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avater {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 80px;
    z-index: 1;
}

.profile-avater .avater-image{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    animation: avater-ani 3s infinite ease-in-out;
}

@keyframes avater-ani {
    0%{
        transform: scale(1.1);
    }
    
    50%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
    }
}

.profile-avater .avater-gradient{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -52%);
    width: 200px;
    height: 200px;
    z-index: -1;
}

.hero-area h1 img{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top center;
    margin: 0 20px;
}

.hero-area__inner p{
    display: block;
    width: 600px;
    margin: auto;
    margin: 50px 0 55px;
    color: var(--white-color);
}

.hero-area h1 span{
    font-size: 60px;
  background: -webkit-linear-gradient(#FF8660, #A53DED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-wraper{
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
}

.similer-btn{
    color: var(--primary-color);
    font-size: 21px;
    font-weight: var(--semibold);
    font-family: var(--primary-font);
    text-decoration: none;
    text-transform: capitalize;
    padding: 16px 30px;
    background-color: var(--white-color);
    border-radius: 50px;
    border: 2px solid transparent;
    transition: var(--transition);
}

.similer-btn:hover{
    color: var(--white-color);
    border: 2px solid var(--white-color);
    background-color: transparent;
}

.cv-downlode{
    color: var(--white-color);
    background-color: transparent;
    border: 2px solid var(--white-color);
}

.cv-downlode:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* ---------- Hero Area End ------------- */








/* ---------- Skill Area Start ------------- */

.skill-area{
    position: relative;
    padding: 100px 0;
    z-index: 1;
}

.skill-list {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 80px;
}

.skill-item{
    width: 40px;
    height: 40px;
    transition: var(--transition);
}

.skill-item img{
    width: 100%;
    height: 100%;
}

.skill-item:hover{
    transform: translateY(-3px);
}

.skill-shape{
    width: 850px;
    height: 570px;
    margin: auto;
}

.skill-shape img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wordpress-icon {
    position: absolute;
    left: 50%;
    bottom: 21.2%;
    transform: translate(-47%, 0) rotate(0deg);
    width: 199px !important;
    height: 199px !important;
    border-radius: 100%;
    animation: wp-icon-ani 9s infinite ease-in-out;
}

@keyframes wp-icon-ani {
    0%{
        transform: translate(-47%, 0) rotate(0deg);
    }
    
    25%{
        transform: translate(-47%, 0) rotate(360deg);
    }

    50%{
        transform: translate(-47%, 0) rotate(720deg);
    }

    100%{
        transform: translate(-47%, 0) rotate(360deg);
    }
}

/* ---------- Skill Area End ------------- */








/* ---------- Project Area Start ------------- */

.project-area{
    padding: 50px 0 100px;
}

.project-wraper{
    margin-top: 60px;
}

.project-item{
    width: 100%;
    min-height: 300px;
    border-radius: 12px;
    overflow: hidden;
}

.project-thumb{
    width: 100%;
    height: 240px;
}

.project-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.project-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    backdrop-filter: blur(10px);
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.055);
}

.project-content span{
    color: #8491A0;
    font-size: 12px;
    font-weight: var(--extarbold); 
}

.project-content h4{
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    margin-top: 12px;
}

.visit-site{
    width: 38px;
    height: 38px;
    display: inline-flex;
    justify-content:  center;
    align-items: center;
    font-size: 20px;
    color: var(--primary-color) !important;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 100%;
    flex-shrink: 0;
}

.visit-site i{
    transition: var(--transition);
}

.visit-site:hover i{
    transform: rotate(-45deg);
}

/* ---------- Project Area End ------------- */









/* ---------- Experience Area Start ------------- */

.experience-area{
    padding: 50px 0 105px;
}

.experience-item__wraper{
    margin-top: 58px;
}

.experience-item{
    padding: 20px;
    border-radius: 12px;
    background-color: #1E142B;
}

.experience-title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.experience-title img{
    width: 60px;
    height: 60px;
}

.experience-item span{
    font-size: 14px;
    font-weight: var(--semibold);
    color: var(--white-color);
}

.hidden-learnin__duration{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.experience-item p{
    margin-top: 30px;
}

/* ---------- Experience Area End ------------- */







/* ---------- Footer Area Start ------------- */

.footer-area{
    padding: 80px 0 100px;
    background-color: #1E142B;
}

.footer-area p{
    width: 60%;
    font-size: 16px;
    margin-top: 20px;
}

.email{
    display: inline-flex;
    align-items: center;
    gap: 7px;
    color:var(--white-color);
    font-size: 14px;
    font-weight: var(--semibold);
    text-decoration: none;
    margin: 20px 0 40px;
}

.social-links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-links li a{
    font-size: 20px;
    color: var(--white-color);
    text-decoration: none;
}

/* ---------- Footer Area End ------------- */



